html {
    font-family: "Roboto Condensed";
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
#home-page{
    background-color: rgb(209, 210, 211);
}
/* Navigation Menu CSS */
.menu {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
}

.menu a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: all ease 0.5s;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu a:hover {
    background-color: rgba(0, 97, 193, 0.3);
    cursor: pointer;
}

.menu a.active {
    background-color: rgba(0, 97, 193, 0.3);
    color: white;
}

.menu .icon {
    display: none;
}
/* End of navigation menu */
@media screen and (max-width: 959px){
    .menu a:not(:first-child) {display: none;}
    .menu a.icon {
      float: right;
      display: block;
    }
}
/* Media query for screens with a maximum width of 959px */
@media screen and (max-width: 959px) {
    .menu a:not(:first-child) {
        display: none; /* Hide menu items except the first one (Home) */
    }

    .menu a.icon {
        float: right;
        display: block;
    }

    .menu.responsive {
        /* Keep the position as fixed to stay at the top of the screen */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column; /* Display menu items in a column */
        align-items: center; /* Center items horizontally */
        justify-content: flex-start; /* Align items to the top */
    }

    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Style each menu item */
    .menu.responsive a {
        text-align: center; /* Center text horizontally */
        padding: 15px; /* Adjust padding for spacing between items */
        display: block; /* Display menu items as blocks */
    }
}



.homeTitle {
    background-color: #005FAC;
    padding: 1.6rem;
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeTitle h1 {
    color: #ffffff;
    font-size: 5rem;
    text-align: center;
    line-height: 1.071;
    padding: 1.6rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.homeTitle .participants {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.homeTitle .participants span {
    display: inline-block;
}

.homeTitle .participants span::after {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 8px 0 14px;
    color: #e5e5e5;
}

.homeTitle .participants span:first-child::before {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 14px 0 8px;
    color: #e8e8e8;
}

.participants {
    margin-top: 2rem;
}
/* Scroll Down CSS */
#scroll-down {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    color: #e5e5e5;
    text-transform: none;
}

#scroll-down a span {
    position: absolute;
    top: -70px; 
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
  #scroll-down a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  #scroll-down a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
/* End of Scroll Down */
#homeContent {
    max-width: 1080px;
    padding: 2rem;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: justify;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#homeContent p {
    font-size: 1.1rem;
    font-weight: thin;
    line-height: 1.4rem;
    letter-spacing: 0.5px;
}
/* Line under the h2 text */
#homeContent h2 {
    font-size: 2.4rem;
    padding: 0.7rem;
    display: inline-block; 
    border-bottom: 3px solid #005FAC; 
    border-radius: 3px;
}
.accessibility {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 2rem;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.left {
    flex-basis: 50%;
    padding: 1rem;
    justify-content: center;
    margin: auto;
}
.right {
    flex-basis: 50%;
    display: flex; 
    justify-content: center; 
    margin: auto;
    padding: 1rem;
}
.small-video {
    max-width: 100px; 
    max-height: 300px;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}
.large-video {
    max-width: 250px; /* Adjust the maximum width to your desired size */
}

.deductible{
    justify-content: center;
    display: flex;
    max-width: 400px;
    margin: auto;
}

.contrast {
    display: flex;
    justify-content: space-between; /* Create space between columns */
    margin-bottom: 2rem;
}
.column {
    width: 50%; /* Each column occupies 50% of the screen width */
    box-sizing: border-box;
    padding: 1rem;
}
.column h3 {
    text-align: center;
    font-size: 1.6rem;
}
/* Media query for screens narrower than 750px */
@media screen and (max-width: 750px) {
    .contrast {
        flex-direction: column; /* Stack columns vertically */
        align-items: center; /* Center columns horizontally */
    }

    .column {
        width: 100%; /* Make both columns occupy full width */
        margin-bottom: 1rem; /* Add spacing between the stacked columns */
    }
}

@media screen and (max-width: 750px) {
    .row {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        width: 100%;
    }
    .left {
        padding-top: 1.2rem;
    }
    .right {
        padding: 1rem;
    }
}

/* Back to top button */
.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
	display: none;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
/* End of back to top button */


